@font-face {
    font-family: Chapillada;
    src: url("../fonts/Chapillada.otf") format("opentype");
}

@font-face {
    font-family: Gotham;
    src: url("../fonts/Gotham-Light.otf") format("opentype");
}


body{
  height: 100%;
  padding: 0;
  margin: 0;
}

#title{
  position: relative;
  display: block;
  background: url("../images/background.png");
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
  /* border: 2px solid red; */
}

.container-navigation{
  position: fixed;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 2rem 0 2rem 0;
  z-index: 1;
  background: rgba(0,0,0,0.7);
}

.container-navigation a{
  font-family: Chapillada;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color: white;
}

.container-navigation .icon {
  display: none;
}

.icon i{
  color: black;
  background-color: transparent;
}

/* .container-navigation a:hover{
  color: rgba(54,179,165,1);
} */

a.home-menu{
  color: rgba(54,179,165,1);
}

.container-title-img{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.container-title-img .title-img{
  width: 100%;
  height: auto;
}

.container-tictac-img{
  position: absolute;
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  top: 17%;
  display: block;
}

.container-tictac-img .tictac-img{
  margin-right: 3.5%;
  width: 13%;
  height: auto;
}

.container-strategy-text{
  position: absolute;
  top: 36%;
  width: 100%;
  text-align: center;
  height: auto;
}

.container-strategy-text p{
  font-family: Chapillada;
  font-size: 2vw;
  margin-right: 3%;
}

.container-wheel-img{
  position: absolute;
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  top: 38.8%;
  display: block;
}

.container-wheel-img .wheel-img{
  margin-right: 51%;
  width: 11%;
  height: auto;
}

.container-system-text{
  position: absolute;
  top: 56.5%;
  width: 100%;
  text-align: center;
  height: auto;
}

.container-system-text p{
  font-family: Chapillada;
  font-size: 2vw;
  margin-right: 49%;
}

.container-bulb-img{
  position: absolute;
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  top: 32.5%;
  display: block;
}

.container-bulb-img .bulb-img{
  margin-left: 48%;
  width: 11%;
  height: auto;
}

.container-innovations-text{
  position: absolute;
  top: 51%;
  width: 100%;
  text-align: center;
  height: auto;
}

.container-innovations-text p{
  font-family: Chapillada;
  font-size: 2vw;
  margin-left: 54.2%;
}

.container-pencil-img{
  position: absolute;
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  top: 68%;
  display: block;
}

.container-pencil-img .pencil-img{
  margin-left: 32%;
  width: 11%;
  height: auto;
}

.container-design-text{
  position: absolute;
  top: 83.4%;
  width: 100%;
  text-align: center;
  height: auto;
}

.container-design-text p{
  font-family: Chapillada;
  font-size: 2vw;
  margin-left: 32.7%;
}

.container-logo-img{
  position: absolute;
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  top: 43%;
  display: block;
}

.container-logo-img .logo-img{
  /* margin-left: 32%; */
  width: 23%;
  height: auto;
}

#about{
  position: relative;
  display: block;
  background: url("../images/background.png");
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
  /* border: 2px solid blue; */
}

.container-about-img{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.container-about-img .about-img{
  width: 100%;
  height: auto;
}

.container-about-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 44%;
}

.container-about-text p{
  font-family: Gotham;
  margin-left: 37.5%;
  font-size: 1.1vw;
}

#solutions{
  position: relative;
  display: block;
  background: url("../images/background.png");
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
  /* border: 2px solid green; */
}

.container-solutions-img{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.container-solutions-img .solutions-img{
  width: 100%;
  height: auto;
}

.container-logo-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 42%;
  display: block;
}

.container-logo-img .logo-img{
  margin-right: 1.3%;
  width: 20%;
  height: auto;
}

.container-two-wheels-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 17.5%;
  display: block;
}

.container-two-wheels-img .two-wheels-img{
  margin-right: 12.6%;
  width: 8%;
  height: auto;
}

.container-arrow1-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 22.5%;
  display: block;
}

.container-arrow1-img .arrow1-img{
  margin-left: 5.7%;
  width: 7%;
  height: auto;
}

.container-marketing-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 31.5%;
}

.container-marketing-text p{
  font-family: Chapillada;
  margin-right: 17%;
  font-size: 1.5vw;
}

.container-greenbulb-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 22.8%;
  display: block;
}

.container-greenbulb-img .greenbulb-img{
  margin-left: 26.8%;
  width: 8.5%;
  height: auto;
}

.container-arrow2-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 36%;
  display: block;
}

.container-arrow2-img .arrow2-img{
  margin-left: 44.3%;
  width: 4%;
  height: auto;
}

.container-creative-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 41%;
}

.container-creative-text p{
  font-family: Chapillada;
  margin-left: 27.5%;
  font-size: 1.5vw;
}

.container-content-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 51.1%;
  display: block;
}

.container-content-img .content-img{
  margin-left: 48.3%;
  width: 9%;
  height: auto;
}

.container-arrow3-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 68%;
  display: block;
}

.container-arrow3-img .arrow3-img{
  margin-left: 32%;
  width: 6%;
  height: auto;
}

.container-content-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 68%;
}

.container-content-text p{
  font-family: Chapillada;
  margin-left: 47%;
  font-size: 1.5vw;
}

.container-marketing-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 69.5%;
  display: block;
}

.container-marketing-img .marketing-img{
  margin-left: 12.5%;
  width: 9%;
  height: auto;
}

.container-arrow4-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 79%;
  display: block;
}

.container-arrow4-img .arrow4-img{
  margin-right: 9.3%;
  width: 7%;
  height: auto;
}

.container-research-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 87%;
}

.container-research-text p{
  font-family: Chapillada;
  margin-left: 12.5%;
  font-size: 1.5vw;
}

.container-web-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 68%;
  display: block;
}

.container-web-img .web-img{
  margin-right: 27.5%;
  width: 7%;
  height: auto;
}

.container-arrow5-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 55%;
  display: block;
}

.container-arrow5-img .arrow5-img{
  margin-right: 47%;
  width: 7%;
  height: auto;
}

.container-web-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 83%;
}

.container-web-text p{
  font-family: Chapillada;
  margin-right: 27.5%;
  font-size: 1.5vw;
}

.container-consultancy-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 35.5%;
  display: block;
}

.container-consultancy-img .consultancy-img{
  margin-right: 44.5%;
  width: 9%;
  height: auto;
}

.container-arrow6-img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 24%;
  display: block;
}

.container-arrow6-img .arrow6-img{
  margin-right: 32%;
  width: 7%;
  height: auto;
}

.container-consultancy-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 54%;
}

.container-consultancy-text p{
  font-family: Chapillada;
  margin-right: 44%;
  font-size: 1.5vw;
}

#collaborate{
  position: relative;
  display: block;
  background: url("../images/background.png");
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
}

.container-collab-img{
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}

.container-collab-img .collab-img{
  width: 100%;
  height: auto;
}

.container-connect-text{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 45%;
}

.container-connect-text p{
  font-family: Gotham;
  margin-right: 26%;
  font-size: 1.1vw;
}

.container-fb-connect-text{
  position: absolute;
  width: 17.7%;
  height: auto;
  text-align: center;
  top: 54%;
  left: 27%;
  border-radius: 30px;
  padding: 0.5% 1.5%;
  background-color: rgba(54,179,165,1);
}

.container-fb-connect-text:hover{
  background-color: rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;
}

.container-fb-connect-text:hover a{
  color: white;
}

.container-fb-connect-text a{
  text-decoration: none;
  color: black;
  font-family: Gotham;
  font-size: 1.2vw;
  display: block;
  float: left;
  margin-top: 2.75%;
}

.container-fb-connect-text i{
  font-size: 2.5vw;
  display: block;
  float: right;
}

.container-google-connect-text{
  position: absolute;
  width: 18.5%;
  height: auto;
  text-align: center;
  top: 54%;
  right: 27%;
  border-radius: 30px;
  padding: 0.5% 1.5%;
  background-color: rgba(54,179,165,1);
}

.container-google-connect-text:hover{
  background-color: rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;
}

.container-google-connect-text:hover a{
  color: white;
}

.container-google-connect-text a{
  text-decoration: none;
  color: black;
  font-family: Gotham;
  font-size: 1.2vw;
  display: block;
  float: left;
  margin-top: 2.75%;
}

.container-google-connect-text i{
  font-size: 2.5vw;
  display: block;
  float: right;
}

.container-mail-connect-text{
  display: block;
  position: absolute;
  width: 13.7%;
  height: auto;
  text-align: center;
  /* top: 63%; */
  top: 53%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 30px;
  padding: 0.5% 4%;
  background-color: rgba(54,179,165,1);
}

.container-mail-connect-text:hover{
  background-color: rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;
}

.container-mail-connect-text:hover a{
  color: white;
}

.container-mail-connect-text i{
  position: relative;
  font-size: 2.5vw;
  display: block;
  float: left;
  padding-left: 20%;
  /* border:1px solid blue; */
}

.container-mail-connect-text a{
  text-decoration: none;
  color: black;
  font-family: Gotham;
  font-size: 1.2vw;
  display: block;
  float: right;
  margin-top: 2.75%;
  padding-right: 20%;
  /* border:1px solid red; */
}

.container-mobile-email-form{
  display: none;
}

footer{
  font-family: Chapillada;
  font-weight: bold;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(54,179,165,1);
  bottom: 0;
  text-align: center;
  padding: 3rem 0 2rem 0;
  letter-spacing: 0.1rem;
}

footer a{
  padding: 0 0.3rem;
  text-decoration: none;
  color: black;
  letter-spacing: 0;
}

footer i{
  font-size: 2rem;
}

/* The Modal (background) */
.email-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.email-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2rem;
  padding-right: 2.5rem;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-email-modal {
  color: #aaa;
  float: right;
  font-size: 2vw;
  font-weight: bold;
  margin-right: -10px;
}

.close-email-modal:hover,
.close-email-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.email-form{
  font-family: Chapillada;
  font-size: 1rem;
}

.email-input{
  width: 25%;
}

.email-content{
  width: 100%;
  /* height: 3rem; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.email-button{
  background-color: rgba(54,179,165,1);
  font-family: Gotham;
  border-radius: 30px;
  font-size: 1vw;
}

@media all and (max-width: 750px) {
  html{
    height: 100%;
  }

  .container-navigation {
    background-color: transparent;
    overflow: hidden;
  }

  .container-navigation .icon{
    font-size: 1.3rem;
    display: block;
    margin-top: -2rem;
    padding-top: 0.4rem;
    float: left;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .container-navigation i:hover{
    color: white;
  }

  .container-navigation .icon:hover{
    background: rgba(0,0,0,0.7);
  }

  .container-navigation a{
    font-size: 0.75rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    display: none;
  }

  .container-navigation span{
    display: none;
  }

  .container-title-img{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container-title-img .title-img{
    position: relative;
    width: 94%;
    height: 90%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .container-tictac-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 29.5%;
    display: block;
  }

  .container-tictac-img .tictac-img{
    margin-left: 56%;
    width: 36%;
    height: 17vh;
  }

  .container-strategy-text{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    height: auto;
  }

  .container-strategy-text p{
    font-family: Chapillada;
    font-size: 3vw;
    margin-left: 56%;
  }

  .container-wheel-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 23%;
    display: block;
  }

  .container-wheel-img .wheel-img{
    margin-right: 45%;
    width: 30%;
    height: 20vh;
  }

  .container-system-text{
    position: absolute;
    top: 36.5%;
    width: 100%;
    text-align: center;
    height: auto;
  }

  .container-system-text p{
    font-family: Chapillada;
    font-size: 3vw;
    margin-right: 46.5%;
  }

  .container-bulb-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 56%;
    display: block;
  }

  .container-bulb-img .bulb-img{
    margin-left: 38%;
    width: 35%;
    height: 16vh;
  }

  .container-innovations-text{
    position: absolute;
    top: 71%;
    width: 100%;
    text-align: center;
    height: auto;
  }

  .container-innovations-text p{
    font-family: Chapillada;
    font-size: 3vw;
    margin-left: 38%;
  }

  .container-pencil-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 51.5%;
    display: block;
  }

  .container-pencil-img .pencil-img{
    margin-left: -56.5%;
    width: 33%;
    height: 18vh;
  }

  .container-design-text{
    position: absolute;
    top: 68.5%;
    width: 100%;
    text-align: center;
    height: auto;
  }

  .container-design-text p{
    font-family: Chapillada;
    font-size: 3vw;
    margin-left: -56.5%;
  }

  .container-logo-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 40%;
    display: block;
  }

  .container-logo-img .logo-img{
    /* margin-left: 2%; */
    width: 36%;
    height: 20vh;
  }

  .container-about-img{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container-about-img .about-img{
    position: relative;
    width: 94%;
    height: 90%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .container-about-text{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 17%;
  }

  .container-about-text p{
    font-family: Gotham;
    margin-left: 19%;
    font-size: 0.55rem;
  }

  .container-solutions-img{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container-solutions-img .solutions-img{
    position: relative;
    width: 94%;
    height: 80%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #solutions .container-logo-img,
  .container-two-wheels-img,
  .container-arrow1-img,
  .container-marketing-text,
  .container-greenbulb-img,
  .container-arrow2-img,
  .container-creative-text,
  .container-content-img,
  .container-arrow3-img,
  .container-content-text,
  .container-marketing-img,
  .container-arrow4-img,
  .container-research-text,
  .container-web-img,
  .container-arrow5-img,
  .container-web-text,
  .container-consultancy-img,
  .container-arrow6-img,
  .container-consultancy-text {
    display: none;
  }


  #collaborate{
    position: relative;
    display: block;
    background: url("../images/background.png");
    width: 100%;
    height: 90%;
    padding-bottom: 2.5rem;
  }

  .container-collab-img{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    /* border: 1px solid red; */
  }

  .container-collab-img .collab-img{
    width: 50%;
    height: auto;
  }



  .container-mail-connect-text{
    display: none;
  }

  .container-mobile-email-form{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    font-family: Chapillada;
    font-size: 1rem;
    top: 50%;
  }

  .mobile-email-input{
    font-family: Gotham;
    font-size: 0.8rem;
    width: 90%;
    margin-top: 0.2rem;
    border-radius: 5px;
  }

  .mobile-email-content{
    font-family: Gotham;
    font-size: 0.8rem;
    margin-top: -1rem;
    width: 90%;
    border-radius: 5px;
  }

  .mobile-email-button{
    width: 30%;
    background-color: rgba(54,179,165,1);
    font-family: Gotham;
    border-radius: 30px;
    font-size: 2vw;
  }

  /* .container-tictac-img{
    position: absolute;
    width: 100%;
    height: auto;
    border: 1px solid red;
    top: 11.5rem;
  }

  .container-tictac-img .tictac-img{
    margin-right: 3.5%;
    width: 13%;
    height: auto;
  } */

  .close-email-modal {
    font-size: 3vw;
  }
}
